<%- include("../partials/header") %>
    <h1>Skills</h1>
    <h3>Skills as of <%= time %></h3>
    <ul>
      <% skills.forEach(function(t) { %>
      <li>
        <form action="/skills/<%= t.id %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit">x</button>
        </form>
        <a href="/skills/<%= t.id %>"><%= t.name %></a></li>
      <% }); %> 
    </ul>
    <a href="/skills/new">Add Skill</a>
    <%- include("../partials/footer") %>